@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background: #fff;
  padding: 70px 0;
}

button, input, textarea, select {
  font-family: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper-1 {
  padding: 70px 90px;
}
.wrapper-2 {
  padding-top: 70px;
  padding-left: 90px;
  padding-right: 90px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__circle {
  width: 90px;
  height: 90px;
  border: 8px solid #111;
  border-radius: 50%;
}
.logo__text {
  font-size: 48px;
  font-weight: bold;
  max-width: 290px;
  margin-left: 30px;
  font-feature-settings: "ss01" on;
}

.sub-logo {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 24px;
  font-weight: 500;
}
.sub-logo__item {
  position: relative;
  margin: 0px 10px;
}
.sub-logo__item:first-child {
  margin-left: 0;
}
.sub-logo__item:last-child {
  margin-right: 0;
}
.sub-logo__item::after {
  content: "";
  width: 5px;
  height: 5px;
  background: #333;
  border-radius: 50%;
  position: absolute;
  right: -13px;
  top: 50%;
  transform: translateY(-50%);
}
.sub-logo__item:last-child::after {
  display: none;
}

.line {
  width: 30px;
  height: 3px;
  background: #111;
}

.title {
  position: relative;
  display: inline-block;
}
.title::after {
  content: "";
  width: 5px;
  height: 5px;
  background: #333;
  border-radius: 50%;
  position: absolute;
  right: -13px;
  top: 50%;
  transform: translateY(-50%);
}

h2.title {
  font-size: 24px;
  color: #333;
  font-weight: 500;
}

.container {
  padding: 0 90px;
}

h1.s-title {
  font-size: 28px;
  margin-top: 50px;
}

p.s-subtitle {
  font-size: 18px;
  margin-top: 10px;
}

.ibg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ibg img {
  display: none;
}

.wrapper__sub-logo {
  margin-top: 20px;
}
.wrapper__line {
  margin-top: 20px;
}
.wrapper__title {
  margin-top: 20px;
}
.wrapper__resume-wrap {
  margin-top: 20px;
  width: 100%;
  max-width: 980px;
  padding: 30px;
  background: rgba(17, 17, 17, 0.1);
}

.resume-wrap__row {
  font-size: 18px;
  margin-top: 10px;
}
.resume-wrap__row:first-child {
  margin-top: 0;
}
.resume-wrap__row span {
  font-weight: bold;
}
.resume-wrap__title {
  margin-top: 10px;
}
.resume-wrap__list {
  font-weight: 300;
}
.resume-wrap__item {
  margin-top: 10px;
}
.resume-wrap__item::before {
  content: "•";
  margin-right: 15px;
  color: #111;
}

.works-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin-top: 20px;
}
.works-wrapper__body {
  width: 100%;
  height: 360px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.works-wrapper__body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity 0.25s;
}
.works-wrapper__body:hover::before {
  opacity: 0.5;
}
.works-wrapper__body:hover .works-wrapper__image {
  height: 300px;
}
.works-wrapper__body:hover .works-wrapper__title {
  bottom: 0;
}
.works-wrapper__image {
  width: 100%;
  height: 100%;
  transition: height 0.25s;
}
.works-wrapper__title {
  width: 100%;
  height: 60px;
  background: #0a0a0a;
  position: absolute;
  bottom: -60px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: bottom 0.25s;
}

@media screen and (max-width: 1368px) {
  .works-wrapper{grid-template-columns: repeat(2, 1fr);}
}

@media screen and (max-width: 868px) {
  .works-wrapper{grid-template-columns: repeat(1, 1fr);}
  .works-wrapper__body{height: 100vw;}
}