li{
  list-style: none;
}

a{
  color: #222;
}

.help {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 10px;
  background: #ffffff60;
}

.help[data-none] {
  display: none;
}

.help-list {
  display: flex;
  flex-direction: column;
}

.help-list__item {
  padding: 10px;
  margin: calc(10px / 2) 0;
}

.help-list__item:first-child {
  margin-top: 0;
}

.help-list__item:last-child {
  margin-bottom: 0;
}

.help-list__link {
  display: flex;
  align-items: center;
}

.help-list__link:hover .help-list__name {
  transform: translateX(0);
}

.help-list__icon {
  display: block;
  width: 36px;
  font-size: 36px;
}

.help-list__name {
  margin-left: 20px;
  transform: translateX(-300%);
  transition: 0.3s;
}

.help-text {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
